<div class="site-wrap" id="home-section">
  <section class="container" id="titulo">

    <div class="d-flex justify-content-between clearfix personajes">
      <div class="col-6">
        <img class="img-fluid float-right" id="robotDesafio"  src="../../../assets/img/Personajes/Comp-2.gif" alt="robot">

      </div>
      <div class="col-6">
        <img class="img-fluid" id="robotClubes" src="../../../assets/img/Personajes/Comp-2.gif" alt="robot">

      </div>
    </div>

      <div class="d-flex justify-content-between clearfix portada">
        <div class="col-6">
          <img class="img-fluid shadow p-3 mt-5 bg-white
           float-right mr-3" src="../../../assets/img/botones/desafio-pensar-1.png" alt="Desafio Pensar" onblur="mostarDesafio()"  >

        </div>
        <div class="col-6">
          <img class="img-fluid shadow p-3 mt-5 bg-white rounded ml-3" src="../../../assets/img/botones/clubes-deciencia1.png" alt="Clubes de Ciencia" onmouseover="mostar(this)"  onmouseout="ocultarImagenes(this)">

        </div>
      </div>

  </section>

  <section class="container pt-3 pb-3" id="inicio-contenido">
    <div class="row">

      <div class="col"></div>
      <div class="col-md-5 col-sm-12">
        <!-- imagen o columna random-->
      </div>
      <div class="col-md-5 col-sm-12">
        <!-- texto random-->
      </div>
      <div class="col "></div>

    </div>

  </section>
<!--
  <section class="container-fluid pt-3 pb-3" id="ultimasnoticias">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-10 col-sm-12">
        <h3 class="text-uppercase font-weight-bold mt-5 text-left">
          <span class="bagde bagde-warning">Últimas noticias</span>
        </h3>
        <ul class="list-unstyled">
          <li class="media" (click)="mostrarNoticia()" *ngFor="let noticia of noticias | async">
            <div class="media-body" class="tarjeta">
              <h5 class="mt-0 mb-1">{{noticia.title.rendered}}</h5>
              <p [innerHTML]="noticia.excerpt.rendered"></p >
            </div>
          </li>
        </ul>
      </div>
      <div class="col"></div>
    </div>
  </section>
  <section class="container-fluid" id="home-contacto">
    <img src="../../../assets/img/banners/contacto-banner-original.jpg"  [routerLink]="['/contacto']" class="img-fluid">
  </section> -->
</div>
