<footer class="container-fluid fixed-botton ">
  <div class="container text-center colorNavbar2">
    <div class="row">
      <div class="col">
        <p class="colorName3"> Plataforma educativa dge &copy;</p>
      </div>
      <a class="cursor7">
        <a (click)="whatsApp()" class="cursor7">
          <i class="fab fa-whatsapp mr-3 ml-3"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook mr-3"></i>
        </a>
        <a href="mailto:#" target="_blank">
          <i class="fas fa-envelope mr-3"></i>
        </a>

        <a href="https://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram mr-3"></i>
        </a>
        <a href="https://www.twitter.com/" target="_blank">
          <i class="fab fa-twitter mr-3"></i>
        </a>

      </a>
    </div>
    </div>
  </footer>
