<div class="site-wrap" id="home-section">

  <header class="site-section-cover overlay morado " id="titulo">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center pt-5">
          <h1><strong>Personajes</strong></h1>
        </div>
      </div>
    </div>
  </header>

  <section class="site-section bg-light pt-5 " id="contenido">

    <div class="container">
        <div class="row ">
            <div class="col-md-4 pb-5">

                <div class="card text-white morado">
                  <h5 class="card-header">
                     Robot Aprendiz
                  </h5>
                  <div class="card-body personaje">
                    <img class="img-fluid rounded mx-auto d-block personaje" src="../../../assets/img/gato-02.png" alt="gatorobot">
                  </div>
                  <div class="card-footer">
                    Nivel 1 de nuestra compañero

                  </div>
                </div>

            </div>

            <div class="col-md-4 pb-5">

              <div class="card text-white morado">
                <h5 class="card-header">
                   Aprendiz Experto
                </h5>
                <div class="card-body personaje">
                  <img class="img-fluid rounded mx-auto d-block personaje" src="../../../assets/img/robot-plata.png" alt="gatorobot">
                </div>
                <div class="card-footer">
                  Primera evolución
                </div>
              </div>

            </div>

            <div class="col-md-4 pb-5">

              <div class="card text-white morado">
                <h5 class="card-header">
                  Robot Experto
                </h5>
                <div class="card-body personaje">
                  <img class="img-fluid rounded mx-auto d-block personaje" src="../../../assets/img/robot-dorado.png" alt="gatorobot">
                </div>
                <div class="card-footer">
                  Nivel final

                </div>
              </div>

            </div>


      </div><!-- row -->

    </div><!-- container -->
  </section>
</div>
