<div class="site-wrap" id="home-section">

  <header class="site-section-cover overlay " id="titulo">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center pt-5">
          <h1><strong>Personajes</strong></h1>
        </div>
      </div>
    </div>
  </header>

  <section class="site-section bg-light pt-5" id="contenido">

    <div class="container">

      <div class="container-fluid">

        <div class="row ">
          <div class="col-md-8">

            <div class="row pb-5">
              <div class="col-md-12">
                <div class="card text-white bg-info">
                  <h5 class="card-header">
                    Gato Robot
                  </h5>
                  <div class="card-body personaje">
                    <img class="img-fluid rounded mx-auto d-block personaje" src="../../../assets/img/gato-02.png" alt="gatorobot">
                  </div>
                  <div class="card-footer">
                    Gato Robot es un robot construido por..
                  </div>
                </div>
              </div>
            </div>

            <div class ="row pb-5">
              <div class="col-md-12">
                <div class="card text-white bg-info">
                  <h5 class="card-header">
                    Card title
                  </h5>
                  <div class="card-body">
                    <p class="card-text">
                      Card content
                    </p>
                  </div>
                  <div class="card-footer">
                    Card footer
                  </div>
                </div>
              </div>
            </div>

            <div class="row pb-5">
              <div class="col-md-12">
                <div class="card text-white bg-info">
                  <h5 class="card-header">
                    Card title
                  </h5>
                  <div class="card-body">
                    <p class="card-text">
                      Card content
                    </p>
                  </div>
                  <div class="card-footer">
                    Card footer
                  </div>
                </div>
              </div>
            </div>

        </div>
        <div class="col-md-4"><!-- sidebar-->

          <button type="button" [routerLink]="['/clubes']" class="btn btn-success btn-lg btn-block">
            Clubes
          </button>
          <button type="button" [routerLink]="['/desafios']" class="btn btn-info btn-block btn-lg">
            Desafios
          </button>
          <button type="button" [routerLink]="['/personajes']" class="btn btn-warning btn-block btn-lg">
            Personajes
          </button>
        </div> <!-- fin sidebar-->


      </div>
    </div>
    </div>
  </section>
</div>
