<div class="site-wrap" id="home-section">
  <header class="container-fluid" id="titulo">
    <div id="myCarousel" class="carousel slide">
  
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li class="item1 active"></li>
        <li class="item2"></li>
        <li class="item3"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/banners/hola-nuevas-aventuras1.png" alt="Hola nuevas aventuras" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src=".../../../assets/img/banners/queres-conocernos-entrar.png" alt="Queres conocernos?" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/banners/te-desafio-entrar.png" alt="Te desafio a entrar" width="1100" height="500">
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </header>
 <section class="container mt-3" id="inicio-contenido">
  <div class="row">

    <div class="col"></div>
    <div class="col-md-5 col-sm-12">
      <img class="img-fluid" src="../../../assets/img/ver-elmundo-index.jpg" alt="ver el mundo">
    </div>
    <div class="col-md-5 col-sm-12">
      <h3>Ver el mundo con ojos, cerebro y corazón de científico</h3>
      <p>Prejuicios de lado, hacer ciencia es atrapante y divertido. 
        Newton hizo el siguiente balance de su vida, 
        indicando que no sabía la impresión que había dado al resto del mundo,
         pero que él se sentía como un niño asombrado, 
         juntando conchas y piedras traídas por el inmenso océano de la verdad. 
        Para ser científicos hay que tener la capacidad de maravillarse con las cosas más simples y no tenidas en cuenta por los demás.
      </p>
    </div>
    <div class="col "></div>

  </div>

</section>

  <section class="container-fluid pt-3 pb-3" id="ultimasnoticias">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-10 col-sm-12">
          <h3 class="text-uppercase font-weight-bold mt-5 text-left">
            <span class="bagde bagde-warning">Últimas noticias</span>
          </h3>
        <ul class="list-unstyled">
          <li class="media" (click)="mostrarNoticia()">
            <img src="..." class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">List-based media object</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
          <li class="media my-4" (click)="mostrarNoticia()">
            <img src="..." class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">List-based media object</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
          <li class="media" (click)="mostrarNoticia()">
            <img src="..." class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">List-based media object</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
        </ul>
      </div>
    <div class="col"></div>
  </div>
</section>
<section class="container-fluid" id="home-contacto">
  <img src="../../../assets/img/banners/contacto-banner.png" class="img-fluid">
</section>
</div>