<div class="site-wrap" id="home-section">
  <header  id="titulo">
    <div class="container">
      <img src="../../../assets/img/banners/hola-nuevas-aventuras1.png" class="mx-auto d-block" height="400px">
    </div>
  </header>
 </div>
 <br>
 <br>
 <section class="container">
  <div class="row">
    <h3>    Ver el mundo con ojos, cerebro y corazón de científico
    </h3>
    <p>Prejuicios de lado, hacer ciencia es atrapante y divertido. Newton hizo el siguiente balance de su vida, indicando que no sabía la impresión que había dado al resto del mundo, pero que él se sentía como un niño asombrado, juntando conchas y piedras traídas por el inmenso océano de la verdad. Para ser científicos hay que tener la capacidad de maravillarse con las cosas más simples y no tenidas en cuenta por los demás.
    </p>


  </div>
  <br>
  <br>
</section>
 <section class="container">
      <img src="../../../assets/img/banners/contacto-banner.png" class="mx-auto d-block" height="400px">
  </section>

