/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: "Radio Grotesk Regular";
  src: url("../fonts/RadioGrotesk-Regular.otf");
}

*{
   padding:0;
   margin:0;
}

.clearfix{
  float: none;
  clear: both ;
}

.bodysitio {
  font-family: "Radio Grotesk Regular", Arial, Helvetica, sans-serif;
  background-color: #281EBE;
  font-size: 20px;
  min-height: 700px;
}


.badge-warning {
  background-color: yellow !important;
}

.btn-outline-warning {
  border-color: yellow !important;
}

.btn-outline-warning:hover {
  background-color: rgb(221, 221, 0) !important;
}

.active {
  background-color: rgba(255, 255, 0, 0.120);
  font-weight: 620;
}

.mt-n1 {
  margin-top: -1.2rem !important;
}


.colorBody1 {
  background-color: #281EBE !important;

}

.colorNavbar2 {

  background: #281EBE 0% 0% no-repeat padding-box;
  opacity: 0.87;
  border: 2px solid #281EBE;
  border-radius: 2px;
  padding: 0px;
}

.colorName3 {
  color: #FFFFFF !important;
}

.colorName4 {
  color: #FFFFFF !important;
  text-shadow: 2px 2px 4px rgb(83, 83, 8);
}

.cursor7 {
  cursor: pointer;
}


/** footer */

.fa-whatsapp {
  color: #25D366;
  }
  .fa-facebook {
  color: #3b5998;
  }
  .fa-envelope {
  color: orangered !important;
  }
  .fa-linkedin-in {
  color: #0e76a8;
  }
  .fa-instagram {
  color: #C13584 !important;
  }
  .fa-twitter {
  color: #00acee;
  }




/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }
