#home-section{
  background-color: #39C124;

}
#titulo{

}

.contenido img{
  max-width: 600px!important;
}
#ultimasnoticias{
  background-color: #39C123;

}

.tarjeta{
  background-color: white;
  color: #39C123;
  margin: 10px;
  padding: 10px;
  width: 100%;
}
.tarjeta p{
  color: darkgrey;
  font-size: 15px;
}

