<div class="site-wrap" id="home-section">
  <header  id="titulo">
    <div class="container">
      <img src="../../../assets/img/banners/entereate-noticias.png" class="mx-auto d-block" height="400px">
    </div>
  </header>
 </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div *ngFor="let post of posts">
            <h2>{{post.title.rendered}}</h2>
            <div class="contenido" [innerHTML]=""></div>

          </div>
      </div>
    </div>
  </div>
