/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: "Radio Grotesk Regular";
  src: url("../fonts/RadioGrotesk-Regular.otf");
}

:root{
  --violeta:  #8F2DFF;
  --bronce: #A37204;
  --plata: #E2E1DE;
  --oro:#E2B853;
}



*{
   padding:0;
   margin:0;
}

.clearfix{
  float: none;
  clear: both ;
}

.bodysitio {
  font-family: "Radio Grotesk Regular", Arial, Helvetica, sans-serif;
  background-color: #281EBE;
  font-size: 20px;
  width: 100%;

}

.bronce{
  background-color: var(--bronce);
}
.plata{
  background-color: var(--plata);
}
.oro{
  background-color: var(--oro);
}

.site-wrap{
  margin: 0px auto;/** centrar */
  min-height: 700px;
}


.badge-warning {
  background-color: yellow !important;
}

.btn-outline-warning {
  border-color: yellow !important;
}

.btn-outline-warning:hover {
  background-color: rgb(221, 221, 0) !important;
}

.active {
  background-color: rgba(255, 255, 0, 0.120);
  font-weight: 620;
}

.mt-n1 {
  margin-top: -1.2rem !important;
}

.logo{
    max-width: 200px;
}



.colorName3 {
  color: #FFFFFF !important;
}




/** footer */

.fa-whatsapp {
  color: #25D366;
  }
  .fa-facebook {
  color: #3b5998;
  }
  .fa-envelope {
  color: orangered !important;
  }
  .fa-linkedin-in {
  color: #0e76a8;
  }
  .fa-instagram {
  color: #C13584 !important;
  }
  .fa-twitter {
  color: #00acee;
  }

  /**** post **/

#post .articulo{
  background-color: #eee !important;
  border: 5px solid white;
  padding: 20px;
}

#post .articulo img{
  width: 100%!important;
  height: auto;
}

/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/


@media (max-width: 576px) {
  .logo{
    width: 50%;
}
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }
