<div class="site-wrap" id="home-section">
  <header class="site-section-cover overlay " id="titulo">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center pt-5">
          <h1><strong>Clubes de ciencias</strong></h1>
        </div>
      </div>
    </div>
  </header>
  <section class="site-section bg-light pt-5" id="contenido">

    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="page-header">

                  <h1>
                     <small>En los Clubes 4.0 partimos de algo que se quiere saber, de un problema y le buscamos la solución, haciendo lo que nos gusta y aprendiendo.</small>
                  </h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="imagen">
                  <img class="img-fluid" alt="Clubes logo" src="../../../assets/img/clubes/clubes-logo.png" />

                </div>
              </div>
              <div class="col-md-6">
                <h2>¿En qué consisten?</h2>
                <p>
                  Estos clubes se deben enfocar en los siguientes puntos:
                </p>
                <ul>
                  <li>Indagación</li>
                  <li>Desarrollo del pensamiento científico</li>
                  <li>Resolución de problemas</li>
                  <li>Vinculación cognitiva y transdisciplinariedad</li>
                </ul>
                <p>Se busca que los/as chicos/as tengan un acercamiento lúdico, creativo y progresivamente sistemático hacia las actividades del quehacer científico y tecnológico.</p>
                <p>En los clubes 4.0 se les presentan desafíos y problemas que deben resolver utilizando múltiples y distintas estrategias. De esta manera, acceden a una oferta recreativa donde aprenden, se divierten y despiertan vocaciones en el campo de las ciencias y la tecnología.
                <p>La base pedagógica sobre la que se desenvuelven los clubes es el aprendizaje basado en problemas, que permite a los alumnos poner en práctica sus conocimientos gracias a generar un interés colectivo que valore las experiencias individuales para el enriquecimiento de todo el grupo. El club no se concibe como una estructura rígida, sino como un espacio de aprendizaje interactivo que busca el desarrollo pleno de las habilidades de los estudiantes.</p>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="imagen">
                  <img class="img-fluid" alt="Clubes logo" src="../../../assets/img/clubes/tuercas.png" />

                </div>
              </div>
              <div class="col-md-6">
                <h2>¿Sobre qué trabajan?</h2>
                <p>
                  Fundamentado en dichos lineamientos comunes, un club 4.0 debe promover la creación de proyectos que incentiven la investigación, partiendo de la exploración de:
                </p>
                <ul>
                  <li>La cotidianeidad, para plantear en los estudiantes preguntas sobre cómo funciona la naturaleza y aquellos aparatos que por ser considerados comunes y corrientes, pasan desapercibidos, para de esta forma, despertar su curiosidad por aprender y experimentar; a través de actividades enmarcadas en las ciencias naturales, ciencias exactas, tecnología, reciclaje, ecología y protección de la naturaleza.</li>
                  <li>Los problemas que tiene la sociedad y el sistema productivo, para darle una mirada desde una nueva perspectiva.</li>

                </ul>
                <p>Los participantes en el desarrollo de proyectos científicos pueden compartir diversas experiencias, incluso se puede integrar a la familia en la construcción del conocimiento.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4"><!-- sidebar-->

            <button type="button" [routerLink]="['/clubes']" class="btn btn-success btn-lg btn-block">
              Clubes
            </button>
            <button type="button" [routerLink]="['/desafios']" class="btn btn-info btn-block btn-lg">
              Desafios
            </button>
            <button type="button" [routerLink]="['/personajes']" class="btn btn-warning btn-block btn-lg">
              Personajes
            </button>
          </div> <!-- fin sidebar-->

        </div>

      </div><!-- fin de container fluid-->
    </div>

  </section>
</div>
