<div class="container-fluid ">
  <nav class="navbar navbar-expand-lg navbar-light mt-1">
    <a class="navbar-brand ml-3 " [routerLink]="['/inicio']">
      <img src="../../../assets/img/logo-blanco.png"  class="d-inline-block align-top logo" alt="Desafio pensar" loading="lazy">

    </a>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav pr-5 mr-auto">
          <!-- <li class="nav-item " routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/inicio']"><i class="fas fa-house-user"> Inicio</i></a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/noticias']"><i class="far fa-newspaper"></i> Noticias</a>
          </li> -->
          <li class="nav-item " routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/clubes']" >
              <img src="../../../assets/svg/experimentacion.svg"  width="40px" height="40px"alt="clubes">
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/desafios']">
              <img src="../../../assets/svg/desafios.svg"  width="40px" height="40px"alt="desafios">
            </a>
         </li>
          <li class="nav-item " routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/personajes']">
              <img src="../../../assets/svg/cientifico.svg"  width="40px" height="40px"alt="personajes">
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a (click)="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/contacto']">
              <img src="../../../assets/svg/comunicacion.svg"  width="40px" height="40px"alt="contacto">
            </a>
          </li>
        </ul>
            <!--<p class="mr-2">
              <button class="btn btn-outline-warning my-2" type="button">Ingresa</button>
            </p>-->
            <form class="form-inline my-2 my-lg-0 " (keyup)="searchWord()">
              <input class="form-control mr-sm-2" type="search" placeholder="buscar" aria-label="Search" [(ngModel)]="wordSearch" >
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
       </div>
  </nav>
</div>

