<div class="site-wrap" id="home-section">

  <header class="site-section-cover overlay " id="titulo">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center pt-5">
          <h1><strong>Desafios</strong></h1>
        </div>
      </div>
    </div>
  </header>
  <section class="site-section bg-light pt-5" id="contenido">

    <div class="container">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="page-header">
                  <h1>
                    Empieza la Aventura <small>selecciona el nivel para ganar</small>
                  </h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" alt="Medalla de bronce"
                    src="../../../assets/img/medallas/medallas_bronce.png" />
                  <div class="card-block">
                    <h5 class="card-title">
                      Medalla de bronce
                    </h5>
                    <p class="card-text">
                      Compite por estos desafios para obtener una medalla de bronce.
                    </p>
                    <p>
                      <a class="btn btn-primary" (click)="nivel='nvl1'">Participar</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" alt="Medalla de plata"
                    src="../../../assets/img/medallas/medallas_plata 1.png" />
                  <div class="card-block">
                    <h5 class="card-title">
                      Medalla de plata
                    </h5>
                    <p class="card-text">
                      Compite por estos desafios para obtener una medalla de plata.
                    </p>
                    <p>
                      <a class="btn btn-primary" (click)="nivel='nvl2'">Participar</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" alt="Medalla de oro" src="../../../assets/img/medallas/medallas_Oro.png" />
                  <div class="card-block">
                    <h5 class="card-title">
                      Medalla de oro
                    </h5>
                    <p class="card-text">
                      Compite por estos desafios para obtener una medalla de Oro.
                    </p>
                    <p>
                      <a class="btn btn-primary" (click)="nivel='nvl3'" >Participar</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

       <div [ngSwitch]="nivel">
          <div *ngSwitchCase="'nvl1'">
            <app-nivel1></app-nivel1>
          </div>
          <div *ngSwitchCase="'nvl2'">
            <app-nivel2></app-nivel2>
          </div>
          <div *ngSwitchCase="'nvl3'">
            <app-nivel3></app-nivel3>
          </div>
          <div *ngSwitchDefault></div>
        </div>

      </div><!-- fin de container fluid-->
    </div>
  </section>



</div>
